# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Datasets
data/dcase/test/source/*.wav
data/dcase/test/target/*.wav
data/dcase/train/*.wav
data/dcase/train/source/*.wav
data/dcase/train/target/*.wav
data/SVHN/

# IDE
.vscode/

# Model Files
logs/cv/checkpoints/*pth
logs/dcase/checkpoints/*pth


# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary files
*.tmp
*.temp
temp/
tmp/
